<div class="container">
    <div class="select-country">
      <p>Select a country here </p>
    </div>
    <div class="summary">
      <h3>Summary</h3>
      <div class="grid">
        <div class="card-info">
          <h4>Revenue</h4>
          <h4><%= number_to_human(@total_revenue) %>€</h4>
        </div>
        <div class="card-info">
          <h4>Avg revenue / order</h4>
          <h4><%= number_to_human(@avg_revenue_per_order) %>€</h4>
        </div>
        <div class="card-info">
          <h4>Customers</h4>
          <h4><%= number_to_human(@nb_customers) %></h4>
        </div>
      </div>
    </div>
    <div class="chart">
      <h3>Revenue per month</h3>
      <%= column_chart @revenue_per_month %>
    </div>
</div>
