@import "bootstrap/scss/bootstrap";

@import "components/card-info";

body {
  background-color: rgb(240, 240, 240);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.summary,
.chart {
  margin-top: 30px;
}

