@import "bootstrap/scss/bootstrap";

@import "components/card-info";

body {
  background-color: rgb(240, 240, 240);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.summary,
.chart,
.select-country {
  margin-top: 30px;
}

.select-country {
  display: flex;
  align-items: center;

  h6 {
    margin-bottom: 0;
    margin-right: 10px;
  }
}
